  .chat-box {
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 90vh;
    height: calc(90vh - 60px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
  }

  .chat-box-wrapper{
    width: 720px;
    margin-bottom: 20px;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh; /* 전체 높이에 맞추기 */
  }
  
  .message {
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 37px;
    padding: 15px;
    border-radius: 15px; /* 기본적으로 둥근 모서리 */
    position: relative;
    max-width: 80%;
    min-width: 50px; /* 최소 너비 지정 */
    margin: 25px 0; /* 위아래 여백을 추가하여 줄바꿈 효과 */
    background-color: #130118;
    border: 1px solid;
    color: white;
    border-color: #ff00e5;
  }
  
  .message.user {
    text-align: right;
    align-self: flex-end;
    background-color: #c7e1ff; /* 사용자 메시지 색상 */
    border-bottom-right-radius: 0; /* 말풍선 모양 조정 */
  }
  
  .message.bot {
    text-align: left;
    align-self: flex-start;
    background-color: #d1e7ff; /* 봇 메시지 색상 */
    border-bottom-left-radius: 0; /* 말풍선 모양 조정 */
  }

  .chat-input {
    width: 704px; /* 최대 너비 지정 */
    height: 68px;
    background-color: #130118;
    border: 1px solid;
    border-color: #ff00e5;
    padding-left: 15px;
    color: white;
    font-size: 20px !important;
    padding-right: 50px;
  }

  .chat-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s ease; /* 자연스러운 전환 효과 */
  }

  .chat-button:hover {
    transform: translateY(-50%) scale(1.17);  /* 크기 살짝 키우기 */
    opacity: 0.85; /* 살짝 투명도 변경 */
  }
  
  .chat-bt-group {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .sub-chat-box {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 704px;
    height: 68px;
    margin-top: 20vh; /* 로고와의 간격 조정 */
    margin-bottom: 83px;
  }

  .input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
  }
  