/* 70% 화면 (챗지피티 + 이미지생성) */
.side-page {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;
  width: 77.5vw;
  z-index: 0;
  opacity: 0;

  transition: opacity 0.4s ease;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.side-page.show {
  z-index: 3;
}

.left-side {
  background-image: url("https://i.postimg.cc/hvWTGy05/Union-7.png");
  left: -1vw; /* vw 단위로 변경 */
}

.right-side {
  background-image: url("https://i.postimg.cc/g0xZHFS7/Group-19-1.png");
  right: -1vw; /* vw 단위로 변경 */
}

/* 30% 화면 (가사, 검색화면) */
.sub-page {
  position: absolute;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  opacity: 0;
  top: 0;

  transition: opacity 0.3s ease;
}

.sub-page.show {
  opacity: 1;
}

.left-sub {
  right: 0px;

  /* 서브페이지 배경 */
  background: linear-gradient(
    326deg,
    rgba(161, 0, 135, 0.9) 0%,
    /* #8A0074, 투명도 80% */ rgba(64, 7, 55, 0.85) 13%,
    /* #400737, 투명도 80% */ rgba(0, 0, 0, 0.85) 30%, /* #000000, 투명도 80% */
    rgb(43, 43, 43, 1) 100%
  );
}

.right-sub {
  left: 0px;

  /* 서브페이지 배경 */
  background: linear-gradient(
    139deg,
    rgba(161, 0, 135, 0.9) 0%,
    /* #8A0074, 투명도 80% */ rgba(64, 7, 55, 0.85) 13%,
    /* #400737, 투명도 80% */ rgba(0, 0, 0, 0.85) 30%, /* #000000, 투명도 80% */
    rgb(43, 43, 43,1) 100%
  );
}

/* 양쪽 버튼(왼쪽, 오른쪽) */
.bt-left,
.bt-right {
  position: absolute;
  top: 47vh; /* 화면 비율에 맞춤 */
  width: 5%; /* vw 단위로 변경 */
  height: 5%; /* vw 단위로 변경 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 4;
  cursor: pointer;
}

.bt-left {
  left: 0vw; /* vw 단위로 변경 */
  background-image: url("https://i.postimg.cc/xdFxQDg5/Group-47.png");
}

.bt-right {
  right: 0vw; /* vw 단위로 변경 */
  background-image: url("https://i.postimg.cc/pdkCZNgx/Group-29.png");
}

/* shared 공통 화면 (가사, 검색) */

.subLyricsDisplay,
.subSearchDisplay {
  width: 100vw;
  height: 100vh;
  z-index: -3;

  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.subLyricsDisplay {
  color: white; /* 폰트 컬러 흰색 */
}

/* 공통 화면 가사 */
.miniLyrics {
  position: relative; /* relative로 변경 */
  margin-top: 20vh; /* 로고와의 간격 조정 */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 21vw; /* 너비 설정 */
  height: 85vh; /* 고정 높이 설정 */
  gap: 0.1px;
  font-size: 15px;
  overflow-y: scroll; /* 세로 스크롤 가능 */
  overflow-x: hidden; /* 가로 스크롤 비활성화 */
  scrollbar-width: none; /* Firefox의 스크롤바 숨기기 */
}

/* 로고 스타일 (가사 영역 위에 위치하도록 조정) */
.sub-logo {
  position: absolute; /* 로고는 absolute로 설정 */
  top: 7vh; /* 화면 상단에서 위치 조정 */
  left: 50%; /* 중앙 정렬 */
  transform: translateX(-50%); /* 중앙 정렬을 위한 변환 */
  width: 74px;
  height: 42px;
  object-fit: contain; /* 이미지 비율 유지하면서 크기 맞추기 */
  background-position: center;
  background-image: url("https://i.postimg.cc/zG83vsbq/Group-26-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* 공통화면에 쓰이는 검색창 */
.sub-search-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 45px;
  margin-top: 20vh; /* 로고와의 간격 조정 */
}

.sub-search {
  width: 300px; /* 최대 너비 지정 */
  height: 45px;
  background-color: #130118;
  border: 1px solid;
  border-color: #ff00e5;
  box-shadow: 0 0 30px #ff00e5;
  padding-left: 15px;
  color: white;
  font-size: 20px !important;
}

.sub-search::placeholder {
  color: white; /* placeholder 색상을 흰색으로 설정 */
  opacity: 1; /* 불투명도를 100%로 설정 */
}

/* 검색창 돋보기 버튼 */
.sub-search-bt {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("https://i.postimg.cc/cLMwzLDG/Vector-1.png");
}

/* 도움말 */
.vector-image {
  position: absolute;
  z-index: 2;
  background-color: transparent; /* 배경 투명 */
  border: none; /* 경계 없앰 */
  outline: none; /* 경계 없앰 */
  cursor: pointer; /* 커서 설정 */
  top: 8px;
  right: 8px;
  width: 39px; /* 크기 조정 */
  height: 39px;
  background-image: url("https://i.postimg.cc/fRL456ZD/Vector.png");
}

/* 드래그 효과를 위한 가짜 버튼? 화면 */
.fake-side-page-left,
.fake-side-page-right {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; /* 화면 높이에 맞춤 */
  width: 77.5vw; /* 화면 너비에 맞춤 */
  z-index: 0;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.fake-side-page-left {
  left: -1vw; /* vw 단위로 변경 */
  background-image: url("https://i.postimg.cc/YS01Dm9b/Union-8.png");
}

.fake-side-page-right {
  right: -1vw; /* vw 단위로 변경 */
  background-image: url("https://i.postimg.cc/MTRfg08b/Group-19-2.png");
}

.fake-ellipse-left,
.fake-ellipse-right {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 35.7%; /* vh 단위로 변경 */
  width: 32vw; /* vw 단위로 변경 */
  z-index: -6;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.fake-ellipse-left {
  right: 9.8vw; /* vw 단위로 변경 */
  top: 32.6vh; /* vh 단위로 변경 */
  background-image: url("https://i.postimg.cc/Fz8hL6kr/Ellipse-16.png");
}

.fake-ellipse-right {
  left: 9.8vw; /* vw 단위로 변경 */
  top: 32.6vh; /* vh 단위로 변경 */
  background-image: url("https://i.postimg.cc/8PfpSTxj/Ellipse-16-1.png");
}
