/* Modal.css */
.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* 더 어두운 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 모달이 다른 요소 위에 보이도록 */
}

.modal-content {
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px; /* 패딩 증가 */
  border-radius: 12px; /* 둥근 모서리 증가 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; /* 애니메이션 효과 */
  width: 250px; /* 모달 너비 */
  height: 120px;
  font-size: 12px;
  white-space: pre-line;
}

.modal-content:hover {
  transform: scale(1.05); /* 마우스 오버 시 확대 효과 */
}

.modal-select-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* 위쪽 여백 추가 */
}

.modal-logo {
  position: relative;
  width: 70px; /* 너비 조정 */
  height: 60px; /* 높이 조정 */
  object-fit: contain; /* 이미지 비율 유지하면서 크기 맞추기 */
  background-image: url("https://i.postimg.cc/zG83vsbq/Group-26-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 버튼 스타일 추가 */
.modal-button {
  background-color: #ff00e5; /* 포인트 색상 */
  color: white;
  border: none;
  border-radius: 7px; /* 둥근 버튼 */
  width: 80px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 애니메이션 효과 */
  font-size: 11px; /* 글씨 크기 */
  text-align: center;
}

.modal-button:hover {
  background-color: #d400b3; /* 호버 시 색상 변화 */
}
