@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

/* 전체 글꼴 설정 */
* {
  font-family: "Pretendard";
}

/* 백그라운드 로고 설정 */
.background-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: 40%;
  background-position-x: 50%;
  background-position-y: 55%;
  background-repeat: no-repeat;
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* 어두운 색상 추가 (검은색, 투명도 50%) */
  background-image: url("https://i.postimg.cc/zGSc8Wzd/Group-26.png");
  background-blend-mode: darken;
  object-fit: cover; /* 이미지 비율 유지하면서 크기 맞추기 */
  filter: blur(17px); /* 블러 효과 */
  z-index: -1; /* 내용 뒤에 위치하도록 설정 */
}

/* 전체 container */
.music-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100%;
  width: 80vw;
}

/* 검색 컨테이너 */
.search-container {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.search-logo {
  width: 74px;
  height: 42px;
  background-image: url("https://i.postimg.cc/zG83vsbq/Group-26-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 25px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 600px;
  height: 45px;
}

/* 검색창 */
.search {
  width: 600px; /* 최대 너비 지정 */
  height: 45px;
  background-color: #130118;
  border: 1px solid;
  border-color: #ff00e5;
  box-shadow: 0 0 30px #ff00e5;
  padding-left: 15px;
  color: white;
  font-size: 20px !important;
  z-index: 3;
}

.search::placeholder {
  color: white; /* placeholder 색상을 흰색으로 설정 */
  opacity: 1; /* 불투명도를 100%로 설정 */
}

/* 검색창 돋보기 버튼 */
.search-bt {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("https://i.postimg.cc/cLMwzLDG/Vector-1.png");
}

/* 가사 */
.allLyricsBox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: scroll; /* scroll 대신 auto로 변경 */
  overflow-x: hidden;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: flex-start;
  height: 96%;
  z-index: 3;
}

/* Chrome, Safari, Edge용 스크롤바 숨기기 */
.allLyricsBox::-webkit-scrollbar {
  display: none;
}

/* 가사 + 아이콘 box */
.lyricsBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* 가로 중앙 정렬 (선택 사항) */
  height: 100%;
}

/* 가사 */
.lyrics {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 80%;
  text-align: center;
  font-size: 15px;
  line-height: 2;
  z-index: 0;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

.lyricsIcon {
  display: flex;
  border: none;
  outline: none;
  width: 100px;
  height: 25px;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-image: url("https://i.postimg.cc/Hncbv0N6/Rectangle-21.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  box-sizing: border-box; /* 박스 모델 조정 */
  margin: 0 !important ; /* 마진 초기화 */
  padding: 0 !important ; /* 패딩 초기화 */
  vertical-align: middle; /* 수직 정렬 */
}

/* 가운데 스크롤 line */
.line {
  position: fixed;
  left: 50%;
  width: 1px;
  height: 50vh;
  background-image: url("https://i.postimg.cc/1XqNrmgT/Line-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  width: 100px;
  height: 25px;
  font-size: 15px;
  background-size: contain;
  background-image: url("https://i.postimg.cc/Hncbv0N6/Rectangle-21.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: white;
  box-sizing: border-box; /* 박스 모델 조정 */
  vertical-align: middle; /* 수직 정렬 */
  background-color: transparent;
}

.dropdown-menu {
  font-size: 13px;
  position: absolute; /* 드롭다운 메뉴를 절대 위치로 설정 */
  top: 25px; /* 드롭다운 버튼 바로 아래에 위치 */
  left: 50%; /* 가로 중앙 정렬을 위해 50%로 설정 */
  transform: translateX(-50%);
  height: auto;
  margin-top: 3px;
  width: 79px;
  border-radius: none;
  cursor: pointer;
  z-index: 1;
  color:gray;

  /* 투명도 다름 */
  /* background-image: url("https://i.postimg.cc/6pvSKTcc/Rectangle-24-1.png"); */
  background-image: url("https://i.postimg.cc/QN70Vv1N/Rectangle-24-2.png");
  /* 배경 이미지 설정 */
  background-repeat: no-repeat;
  background-size: contain; /* 비율 유지하며 잘리지 않도록 설정 */
  background-color: transparent;
  background-position: center; /* 배경 이미지 중앙 정렬 */
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.dropdown-item:hover {
  color:#FF00E5;
  font-weight: 500;
  font-size: 15px;
}

/* 가사 미제공 화면 아이콘 */
.face {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border: none; /* 경계 없음 */
  outline: none; /* 윤곽선 없음 */
  color: transparent; /* 텍스트 색상 투명 */
  background-size: cover; /* 배경 이미지 크기 설정 */
  background-image: url("https://i.postimg.cc/pLDJtZL7/face.png"); /* 배경 이미지 경로 */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
  background-color: transparent; /* 배경색 투명 */
  box-shadow: none; /* 그림자 없음 */
}

/* 번역 언어 설정 화살표 아이콘 */
.arrow {
  display: flex;
  position: absolute;
  width: 11px;
  height: 4xp;
  left: 14px;
  margin-left: 1px;
  margin-right: 7px;
  color: white;
  font-size: 17px;
  line-height: 0;
  justify-content: center;
  align-items: center;
  top: 38%; /* 50%로 중앙 정렬 */
  transform: translateY(-50%); /* Y축으로 중앙 정렬 보정 */
}

.i {
  display: inline; /* inline으로 설정하여 줄 바꿈 방지 */
}
